<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Top Picks</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/lattemac.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/lattemac.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Latte Macchiato</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A creamy blend of smooth espresso, gently layered with steamed milk for a perfectly balanced drink. Served with a delicate foam top, it’s a comforting choice for those who prefer a milder coffee experience, offering a harmonious blend of rich flavors and a velvety texture that’s ideal for sipping any time of day.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/chococros.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chocolate Croissant</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A flaky, buttery pastry filled with rich dark chocolate. Baked to golden perfection, it combines the delicate texture of a croissant with a decadent, indulgent core—ideal for pairing with your favorite coffee. Its crisp exterior and gooey, melt-in-your-mouth center make it a delightful treat.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/cappuccino.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cappuccino</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A classic coffee favorite, made with rich espresso and steamed milk, topped with a light, velvety foam. The perfect balance of strong coffee flavor and creamy smoothness, it's offering a delightful experience for coffee lovers any time of the day. Ideal for sipping slowly and savoring every warm, frothy sip.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Molten chocolate cake is a popular dessert that combines the elements of a
                            chocolate cake and a soufflé. Its name derives from the dessert's liquid chocolate center,
                            and it is also known as chocolate moelleux, chocolate lava cake, or simply lava cake.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Experience
                        <br />
                        the Sip, Taste,
                        <br />
                       Joy!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>